<div class="panel-header">Please add your phone number</div>

<div class="panel-body">

  <div id="status-box" class="alert alert-success">
    <p id="status-message">Status: Haven’t done anything yet</p>
  </div>

  <div id="send-pin">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, remote: true) do |f| %>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.telephone_field :phone_number, autocomplete: "off" %>
    </div>

    <div class="field" style="display:none">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
    
    <% end %>
  </div>

  <div id="verify-pin">
  <h3>Enter your PIN</h3>
  <%= form_tag users_verify_path, remote: true do |f| %>
    <%= hidden_field_tag 'hidden_phone_number', '' %>
    <div class="form-group">
      <%= text_field_tag :pin %>
    </div>
    <%= submit_tag "Verify PIN", class: "btn btn-primary" %>
  <% end %>
  </div>
     
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="field" style="display:none">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>  
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number " %>
      <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="actions"><%= f.submit "Subscribe" %></div>
  <% end %>

  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>