<div class="panel-header">Please add your phone number</div>

<%= form_for(current_user, url: users_update_phone_number_path) do |f| %>

<div class="panel-body">
  <div id="send-pin">
    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.telephone_field :phone_number, autocomplete: "off" %>
    </div>

    <div class="field" style="display:none">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
    
    <% end %>
  </div>
     
  <div id="status-box" class="alert alert-success">
    <p id="status-message">Status: Haven’t done anything yet</p>
  </div>

  <%= render template: 'charges/new' %>

  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>